<body>
  
  <!-- Main Container -->
  <div class="main-container">
      <!-- Aside -->
      <div class="aside">

          <!-- Nav Toggler Btn -->
          <div class="nav-toggler">
              <span></span>
          </div>
          <!-- Nav Toggler Btn End -->

          <!-- Aside inner -->
          <div class="aside-inner">
              <!-- Logo -->
              <div class="logo">
                  <a routerLink="/">Islem Bouchaala</a>
              </div>
              <!-- Logo End-->
              <!-- Nav -->
              <ul class="nav">
                  <li><a routerLink="/" class="active"> <i class="fa fa-home"></i> Home</a></li>
                  <li><a routerLink="/about"> <i class="fa fa-user"></i> About</a></li>
                  <li><a routerLink="/services"> <i class="fa fa-list"></i> Services</a></li>
                  <li><a routerLink="/portfolio"> <i class="fa fa-briefcase"></i> Portfolio</a></li>
                  <li><a routerLink="/blog"> <i class="fa fa-envelope"></i> Blog</a></li>
                  <li><a routerLink="/contact"> <i class="fa fa-comments"></i> Contact</a></li>
              </ul>
              <!-- Nav End-->
              <!-- Copyright -->
              <div class="copyright-text">
                  &copy; Bouchaala Islem
              </div>
              <!-- Copyright End-->
          </div>
          <!-- Aside inner End-->
      </div>
      <!-- Aside End-->
      
  </div>
  <!-- Main Container End-->

</body>

<router-outlet></router-outlet>
