<!-- Blog Section -->
<section class="blog section" id="blog">
    <div class="container">

        <div class="row">
            <div class="section-title padd-15">
                <h2>Latest Blog</h2>
            </div>
        </div>

        <div class="row">
            <!-- Blog Item -->
            <div class="blog-item padd-15">
                <div class="blog-item-inner shadow-dark">
                    <div class="blog-img">
                        <img src="assets/images/portfolio/EventManager.png" alt="blog">
                        <div class="blog-date">
                            18 Dec 2023
                        </div>
                    </div>
                    <div class="blog-info">
                        <h4 class="blog-title">Event Manager</h4>
                        <p class="blog-description">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Iure, harum dolorem? Labore deserunt dolores dolorum voluptates harum libero,
                            eligendi tempore? Expedita, voluptatem iusto deserunt laborum recusandae
                            distinctio ducimus obcaecati corrupti!
                        </p>
                        <p class="blog-tags">
                            Tags : <b >HTML</b> , <b>CSS</b>
                        </p>
                    </div>
                </div>
            </div>
            <!-- Blog Item End-->
        </div>

    </div>
</section>
<!-- Blog Section End-->