<!-- Home Section -->
<section class="home section active" id="home">
    <div class="container">
        <div class="intro">
            <img src="assets/images/profile-pic.png" alt="profile" class="shadow-dark">
            <h1>Islem Bouchaala </h1>
            <p>I'm a Software Engineer</p>
            <div class="social-links">
                <a href="https://github.com/IslemB104"><i class="fa fa-github"></i></a>
                <a href="https://www.linkedin.com/in/islem-bouchaala/"><i class="fa fa-linkedin"></i></a>
            </div>
        </div>
    </div>
</section>
<!-- Home Section End-->